{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "promise",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "no-console": [0],
    "consistent-return": [0]
  }
}
